.someText {
    position: fixed;
    right: 30px;
    bottom: 100px;
  }
  
  .bgDodge {
    overflow: hidden;
  }
  
  .forBG {
    position: absolute;
    width: 975px;
    height: 971px;
    background-color: rgba(75, 72, 72, 0.05);
    transform: rotate(45deg);
    z-index: -1;
    left: -591px;
    top: -300px;
  }
  
  .forBG_two {
    position: absolute;
    width: 500px;
    height: 600px;
    background-color: rgba(75, 72, 72, 0.05);
    transform: rotate(45deg);
    z-index: -1;
    left: -467px;
    top: 75px;
  }
  
  .forBG_three {
    position: absolute;
    width: 605px;
    height: 746px;
    background-color: rgba(75, 72, 72, 0.03);
    transform: rotate(345deg);
    z-index: -1;
    left: 742px;
    top: -574px;
  }
  
  
  
  
  .mainContentDodge {
    display: flex;
    flex-wrap: wrap;
  }
  
  .itemContentDodge{
    display: flex;
    align-items: center;
  }
  
  .itemImg {
    width: 40%;
  }
  
  img{
    width: 100%;
    box-shadow: 5px 5px 10px rgba(108, 108, 108, 0.7);
    border-radius: 120px;
  }
  
  .itemDescription{
    width: 60%;
    margin: 15px;
    text-align: center;
  }
  
  .centerLogo {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .centerLogo img {
    width: 15%;
  }
  
  .forLineRed{
    margin: 70px 0;
    width: 40%;
    height: 2px;
    background-color: rgba(135, 135, 135, 0.49);
    box-shadow: 0px 0px 5px #878787;
  }
  
  .forMapFactory{
    width: 100%;
    height: 350px;
    text-align: center;
    margin-bottom: 70px;
  }
  
  iframe{
    width: 100%;
    height: 100%;
  }
  