
<div class="bgDodge">
    <div class="forBG"></div>
    <div class="forBG_two"></div>
    <div class="forBG_three"></div>
  </div>
  
  
  <div class="centerLogo">
    <img src="../../../assets/img/logo-dodge.jpg" alt="logo-dodge">
  </div>
  
  <div class="centerLogo">
    <div class="forLineRed"></div>
  </div>
  
  <div class="mainContentDodge">
  
    <div class="firstContent itemContentDodge">
      <div class="itemImg">
        <img src="../../../assets/img/dodge-1.jpg" alt="dodge1">
      </div>
      <div class="itemDescription">
        <h2>DODGE DURANGO</h2>
        <p>Додж Дюранго - летом 2020 года этот полноразмерный внедорожник прошел уже второе обновление после появления нынешнего поколения еще в 2010 году. «Американец» позаимствовал внешние черты легкового Dodge Charger. От этого масл-кара Дюранго достались элементы оформления передней части, включая капот, решетку радиатора и светодиодную оптику. Задний спойлер - от него же. Также серьезным обновлением можно считать появление в линейке Durango экстремальной заряженной версии SRT Hellcat. Двигатели автомобилей этой модификации выдают мощность в 720 лошадиных сил, а максимальный крутящий момент достигает 875 Нм. Снаружи рестайлинг также заметен благодаря обновленной гамме из 6 моделей 20-дюймовых литых дисков нового дизайна. Если внешне изменения вполне можно назвать «косметикой», то интерьер претерпел более значительные изменения. </p>
         <p>Дюранго получил новую панель приборов, расширенную центральную консоль, а также увеличенный экран мультимедиасистемы, диагональ которого стала равна 10.1 дюйма. Однако последнее изменение доступно только в старших комплектациях, на остальных - прежний дисплей с диагональю 8.4". Dodge Durango делит платформу с моделью Jeep Grand Cherokee. С появлением версии SRT Hellcat заряженная версия Trackhawk от Джипа получила достойного конкурента.</p>
      </div>
    </div>
  
    <div class="centerLogo">
      <div class="forLineRed"></div>
    </div>
  
    <div class="secondContent itemContentDodge">
      <div class="itemDescription">
        <h2>РАЗМЕРЫ</h2>
        <p>В зависимости от версии или даже комплектации - а их для Durango в США восемь - габариты немного отличаются. Если взять автомобиль в версии SRT Hellcat, то его длина будет равна 5100 мм , ширина - 1940 мм , высота - 1772 мм. Колесная база - 3022 мм. </p>
        <p>Небольшой по меркам внедорожников дорожный просвет в 205 мм не позволит автомобилю в полной мере проявить себя на бездорожье. На родном для Доджа рынке модель в некоторых комплектациях и вовсе предлагается только с задним приводом.</p>
      </div>
      <div class="itemImg">
        <img src="../../../assets/img/dodge-2.jpg" alt="dodge2">
      </div>
    </div>
  
    <div class="centerLogo">
      <div class="forLineRed"></div>
    </div>
  
    <div class="thirdContent itemContentDodge">
      <div class="itemImg">
        <img src="../../../assets/img/dodge-3.jpg" alt="dodge3">
      </div>
      <div class="itemDescription">
        <h2>ДВИГАТЕЛИ И ТРАНСМИССИЯ</h2>
        <p>Для американского рынка - в России марка Dodge официально не представлена - Durango продается с одним из 4 доступных для модели моторов. Это уже упомянутый 6.2-литровый двигатель V8, используемый на топ-версии SRT Hellcat, а также еще два 8-цилиндровых V-образных мотора объемом 6.4 и 5.7 литров, которые выдают, соответственно, 475 и 360 лошадиных сил. </p>
        <p>Мощность «младшего» 3.6-литрового V6 Pentastar - 295 л.с. На всех моделях Dodge Durango используется 8-ступенчатая автоматическая КПП. Самая заряженная версия Дюранго - при разгоне с нуля - достигает скорости в 60 миль в час (97 км/ч) всего за 3.5 секунды.</p>
          </div>
    </div>
  
    <div class="centerLogo">
      <div class="forLineRed"></div>
    </div>
  </div>
  
  <div class="forMapFactory">
    <h2>Dodge factory</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53553698.234493874!2d65.41448059999999!3d34.9902218!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600498854d88eceb%3A0xed4640304cc0cb95!2sMitsubishi%20Motors%2C%20Okazaki%20Plant!5e0!3m2!1sru!2sua!4v1664559561074!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  
    </div>
  
  
  <div class="someText">
    <span>{{someText | async}}</span>
  </div>
  