<div class="bgAcura">
  <div class="forBG"></div>
  <div class="forBG_two"></div>
  <div class="forBG_three"></div>
</div>

<div class="centerLogo">
  <img src="../../../assets/img/logo-acura.jpg" alt="logo-acura">
</div>



<div class="centerLogo">
  <div class="forLineRed"></div>
</div>

<div class="mainContentAcura">



  <div class="firstContent itemContentAcura">
    <div class="itemImg">
      <img src="../../../assets/img/acura-1.jpg" alt="acura1">
    </div>
    <div class="itemDescription">
      <h2>Acura RDX</h2>

      <p>Переднеприводный кроссовер класса «К2». Рестайлинг третьего поколения модели. Премьерный показ автомобиля
        состоялся 21 сентября 2021 года.</p>
      <p>Стандартная процедура рестайлинга между сменами поколений в случае с кроссовером Acura RDX вылилась в легкие
        изменения внешнего стайлинга, улучшение шумоизоляции, перенастройку элементов шасси, а также доработку систем
        активной безопасности.</p>
      <p>Модернизированный RDX можно отличить по перерисованному в стиле «старшего» MDX переднему бамперу (с
        вертикальными прорезями вместо C-образных), а также по прямоугольным патрубкам выхлопной системы вместо круглых
        (такие теперь являются прерогативой комплектаций A-Spec).</p>
    </div>
  </div>

  <div class="centerLogo">
    <div class="forLineRed"></div>
  </div>

  <div class="secondContent itemContentAcura">
    <div class="itemDescription">
      <h2>276 л.с.</h2>
      <p> салоне этой Акуры глазу за измененные элементы не зацепиться: вся модернизация скрыта внутри. Стандартные
        версии получили передние подкрылки, которые лучше изолируют салон от шумов, а также доработанную систему Active
        Sound Control. Холостые обороты «на холодную» были уменьшены с 1100 об/мин до 950 об/мин. Кроме того, для
        уменьшения вибраций от двигателя была доработана нижняя его подушка. А с пакетами Technology Package и Advance
        Package дополнительную изоляцию получают также двери, стекла, передняя панель, крыша, подкапотное пространство и
        даже багажник.</p>
      <p>Что же касается «видимого» оснащения Акуры RDX, то 10.2-дюймовый дисплей мультимедиа, управляемый тачпадом, не
        изменился. Но уже в базовой версии SUV сама система теперь оснащена беспроводными Apple CarPlay и Android Auto,
        появился также встроенный сервис Amazon Alexa. За доплату отныне можно заказать беспроводную зарядку.</p>
      <p>Силовая установка кроссовера изменений не претерпела. Это безальтернативный 2.0-литровый VTEC Turbo, который
        выдает 276 л. с. и 380 Нм. Как и раньше, он комплектуется десятиступенчатой гидромеханикой.</p>
    </div>
    <div class="itemImg">
      <img src="../../../assets/img/acura-2.jpg" alt="acura2">
    </div>
  </div>

  <div class="centerLogo">
    <div class="forLineRed"></div>
  </div>

  <div class="thirdContent itemContentAcura">
    <div class="itemImg">
      <img src="../../../assets/img/acura-3.jpg" alt="acura3">
    </div>
    <div class="itemDescription">
      <h2> 10-АКП 4x4</h2>
      <p>Привод предложен как передний, так и полный – фирменная система SH-AWD (c муфтами на каждом из задних колес). А
        вот что изменилось, так это настройки управляющей электроники (теперь между четырьмя ездовыми режимами еще
        больше разницы), а также калибровка опциональных адаптивных амортизаторов.</p>
      <p>Наконец, главные изменения в системах безопасности RDX кроются в улучшении мониторинга слепых зон, внедрении
        автоматического торможения при движении на малом ходу при парковке, использовании камеры для системы
        распознавания дорожных знаков (вместо данных об ограничении скорости с GPS). Кроме того, система автоматического
        торможения SUV теперь научена распознавать людей.</p>
    </div>
  </div>

  <div class="centerLogo">
    <div class="forLineRed"></div>
  </div>
</div>

<div class="forMapFactory">
  <h2>Acura factory</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.640941306009!2d-83.55359128429572!3d40.32812566894685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8838d2ff47f64647%3A0x81eca4d24c0b19ef!2sHonda%20East%20Liberty%20Plant!5e0!3m2!1sru!2sua!4v1664557575822!5m2!1sru!2sua"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>




<div class="someText">
  <span>{{someText | async}}</span>
</div>