<div class="bgBMW">
  <div class="forBG"></div>
  <div class="forBG_two"></div>
</div>

<div class="centerLogo">
  <img src="../../../assets/img/logo-bmw.jpg" alt="logo">
</div>

<div class="centerLogo">
  <div class="forLineRed"></div>
</div>

<div class="mainContentBmw">

  <div class="firstContent itemContentBmw">
    <div class="itemImg">
      <img src="../../../assets/img/bmw-1.jpg" alt="bmw1">
    </div>
    <div class="itemDescription">
      <h2>BMW X7</h2>
      <p>
        Флагманская версия БМВ Х7 2020 создавалась немецкими инженерами. Действительно, передовые технологии и
        максимальная укомплектованность системами безопасности могут составить серьезную конкуренцию ближайшим
        соперникам, в числе которых значатся Lexus LX570, Range Rover, Bentley Bentayga и Audi Q8.
      </p>
      <p>В список доступных двигателей для поклонников попало только три версии: два дизельных варианта на 340 и 400
        л.с., а также бензиновая дефорсированная до 249 л.с установка. Минимальная стоимость заявлена для сборки
        xDrive30d, которая обойдется будущему хозяину в 5 930 000 рублей, версия M50d будет стоить 7 620 000 рублей.
        Официальный старт продаж уже состоялся, поэтому можно пройти тест-драйв и оценить все новшества современного
        кроссовера.</p>

    </div>
  </div>

  <div class="centerLogo">
    <div class="forLineRed"></div>
  </div>

  <div class="secondContent itemContentBmw">
    <div class="itemDescription">
      <h2>Комплектации</h2>
      <p>БМВ Х7 2020 года благодаря новому кузову, как показывают официальные фото, выделяется на фоне остальных
        автомобилей своими большими размерами. Баварский внедорожник представлен в России, по сути, в единственной
        комплектации (разница между версиями прослеживается в основном в техническом оснащении), при этом его цены
        напрямую зависят от технических характеристик. В частности, стоимость немецкой модели сильно меняется в случае,
        если покупатель выбирает адаптивную подвеску.</p>
      <p>Начальные две модификации xDrive30d и xDrive40i, стоимость которых составляет 5,93 и 6,1 млн рублей,
        различаются между собой только типами устанавливаемых двигателей. </p>
      <p>В первой предусматривается 3-литровый битурбированный агрегат, работающий на дизельном топливе, во второй —
        турбированный мотор того же объема. Во всех исполнениях BMW X7 устанавливается 8-скоростная автоматическая КПП и
        полный привод.</p>
    </div>
    <div class="itemImg">
      <img src="../../../assets/img/bmw-2.jpg" alt="bmw2">
    </div>
  </div>

  <div class="centerLogo">
    <div class="forLineRed"></div>
  </div>

  <div class="thirdContent itemContentBmw">
    <div class="itemImg">
      <img src="../../../assets/img/bmw-3.jpg" alt="bmw3">
    </div>
    <div class="itemDescription">
      <h2>Внешний вид</h2>
      <p>Как видно уже на фото, новый кузов практически ничем не будет отличаться от предыдущей версии машины по
        внешнему виду. Автомобиль все так же останется огромным кроссовером, который источает одновременно и кучу
        агрессии, и солидность. Причем таковой машина будет с любой стороны, с какой на нее ни посмотри. </p>
      <p>Конечно, интереснее всего выполнена здесь передняя часть, которая, как и подобает такой машине, расположена
        очень высоко и отличается большими размерами. Естественно, все это не очень хорошо сказывается на обзорности для
        водителя, однако немного улучшают ситуацию кресла, имеющие регулировки по высоте, а также небольшой наклон
        морды. Хватает здесь и декоративных решений, которые начинаются уже с капота. Тут можно наблюдать очень много
        плавных переходов по высоте, которые простираются вдоль крышки. Как и у всех машин бренда, на самом конце капота
        располагается значок компании БМВ. Самым главным украшением внедорожника спереди являются просто громадные
        ноздри-решетки, которые больше не имеют свободного пространства между собой. Как и раньше, внутри они будут
        содержать несколько тонких вертикальных линий, образующих сетку. Вся конструкция воздухозаборника будет
        выполнена хромом. Также украшаться морда будет очень агрессивными головными фарами, выполненными в виде тонких
        полосок. Наполнение фар зависит от комплектации кроссовера – светодиоды в базовой версии и лазерные огни в
        расширенной. Присутствует на морде и достаточно много рельефа. </p>
      <p>Хватает здесь украшений и на обвесе. Большую часть его площади занимают дополнительные воздухозаборные системы.
        Самая главная из них принимает форму узкой трапеции и располагается в центре. Она будет дополняться крупной
        сеткой и разнообразными датчиками электронных помощников. По бокам от этого выреза находится еще пара
        воздухозаборников, которые имеют уже более интересную форму. Они будут заполняться металлическими сетками,
        покрашенными в чёрный цвет, иметь хромированное обрамление и включать в себя противотуманную оптику, если она
        подразумевается вариантом комплектации. Заканчивается отделка бампера крупной металлической вставкой для защиты
        кузова от повреждений.</p>
    </div>
  </div>

  <div class="centerLogo">
    <div class="forLineRed"></div>
  </div>
</div>

<div class="forMapFactory">
  <h2>BMW factory</h2>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d947269.8074839781!2d11.324552721529242!3d49.02032669247209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479fc39e97a8637b%3A0x3435eaac93a4405a!2sBMW%20plant%206.10!5e0!3m2!1sru!2sua!4v1664560710254!5m2!1sru!2sua"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>


<div class="someText">
  <span>{{someText | async}}</span>
</div>
