
  <div class="centerLogo">
    <img src="../../../assets/img/logo-lexus.jpg" alt="logo-lexus">
  </div>
  
  
  <div class="mainContentLexus">
  
    <div class="firstContent itemContentLexus">
      <div class="itemImg">
        <img src="../../../assets/img/lexus-1.jpg" alt="lexus1">
      </div>
      <div class="itemDescription">
        <h2>ЗУСТРІЧАЙТЕ ОНОВЛЕНИЙ GX</h2>
        <p>GX 460 з двигуном V8 дозволяє рухатися в будь-якому напрямку.  Усередині салону ви відчуєте високий рівень майстерності Такумі та насолоджуватиметесь винятковими функціями, серед яких аудіосистема Mark Levinson® з 17 динаміками та навігаційна система преміумкласу від Lexus.</p>
        <p>Цей позашляховик протестований за найекстремальніших умов. Він оснащений десятьма подушками безпеки та новаторською системою Lexus Safety System +, що забезпечують неймовірний рівень безпеки.</p>
        </div>
    </div>
  
    <div class="centerLogo">
      <div class="forLineRed"></div>
    </div>
  
    <div class="secondContent itemContentLexus">
      <div class="itemDescription">
        <h2>СПРОБУЙТЕ GX</h2>
        <p>Оновлений GX 460 створено для проходження найскладніших місцевостей та ландшафтів. У ньому легко розмістяться до 7 пасажирів. </p>
        <p>Насолоджуйтеся просторістю та практичністю нового позашляховика Lexus, що поєднує сміливий дизайн, високу майстерність виконання всіх елементів та інноваційні технології.</p>
  
      </div>
      <div class="itemImg">
        <img src="../../../assets/img/lexus-2.jpg" alt="lexus2">
      </div>
    </div>
  
    <div class="centerLogo">
      <div class="forLineRed"></div>
    </div>
  
    <div class="thirdContent itemContentLexus">
      <div class="itemImg">
        <img src="../../../assets/img/lexus-3.jpg" alt="lexus3">
      </div>
      <div class="itemDescription">
        <h2>Экстерьер</h2>
        <p>Рестайлинг удлинил автомобиль, правда, исключительно за счет бамперов, остальные размеры остались прежними. Кроме того, Лексус GX 2016-2017 изменился внешне, конечно, в первую очередь за счет радиаторной решетки. Также были установлены новая светотехника и бамперы,придавшие автомобилю более агрессивный облик.</p>
        <p>Передок Lexus GX 460 характеризуется фирменной радиаторной решеткой и эффектным «трехзрачковым» дизайном головных фар, которые придают автомобилю схожесть с каким-то фантастическим зверем. Дизайн выглядит насыщенно и сложно, демонстрируя переплетения ломаных линий и углов. По бокам бампера разместились планки светодиодных ДХО.</p>
         <p>В процессе рестайлинга, как уже отмечалось в начале, Лексус GX 460 перетерпел минимальные изменения в салоне и практически все они касаются центральной консоли. В отделке отныне используются более качественные материалы.
  
           Водитель, попадая на «рабочее» место, получает в распоряжение большой мультифункциональный кожаный руль с двумя деревянными вставками — большая сверху и меньшая снизу.</p>
      </div>
    </div>
  
    <div class="centerLogo">
      <div class="forLineRed"></div>
    </div>
  </div>
  
  <div class="forMapFactory">
    <h2>Lexus factory</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3360938.8777431613!2d132.88365621521447!3d34.65048840439801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6004daa87f7178f9%3A0xbea1b40567057bd9!2sToyota%20Motors%20Tahara%20Plant!5e0!3m2!1sru!2sua!4v1664557921633!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  
  <div class="someText">
    <span>{{someText | async}}</span>
  </div>
  